<div class="container" style="margin-top:30px;">
  <div class="row">
    <div class="offset-md-2 col-md-7">
      <h2 class="text-center my-3">Sign Up</h2>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= form_with scope: resource, url: registration_path(resource_name), local: true do |f| %>
          <div class="form-group">
            <%= f.label "Name" %><br/>
            <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control mr-3" %>
          </div>
          <div class="form-group">
            <%= f.label "User Name"%><br/>
            <%= f.text_field :users_name, autofocus: true, placeholder: "User Name", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label "Mail Address" %><br/>
            <%= f.email_field :email, placeholder: "Mail Address", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label "Passward" %>
            <%= f.password_field :password, placeholder: "Passward", autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label "Passward Confirmation" %><br />
            <%= f.password_field :password_confirmation, placeholder: "Passward Confirmation", autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Sign Up", class: "btn btn-block btn-dark" %>
          </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>