<div>
  <%= attachment_image_tag(user, :image, size: "200x130",class:"info-img", fallback: "no_image.jpeg",) %>
</div>
<table class='table table-borderless'>
  <tr>
    <th style="width:4%;">Name</th>
    <td>
      <%= link_to user_path(user),style:"color:white" do %>
        <%= user.name %>
      <% end %>
	 </td>
	 </tr>
	 <tr>
	   <th>Introduction</th>
	   <td><%= user.introduction %></td>
	 </tr>
	 <tr>
	  <th>Follow</th>
    <td>
      <%= link_to follower_path(user),style:"color:white" do %>
        <%= user.following_user.count %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Follower</th>
    <td>
      <%= link_to followed_path(user),style:"color:white" do %>
        <%= user.follower_user.count %>
      <% end %>
    </td>
  </tr>
</table>