<div class="container" style="max-width:100%;">
  <div class="row post-list">
    <div class="offset-1 col-3 "><h3 class="post-list-left"><i class="fas fa-portrait"></i> <%= current_user.users_name %></h3></div>
    <div class="offset-1 col-4"><h2 class="post-list-title">Messages</h2></div>
    <div class="col-2 "><h2 class="post-list-right">Posters</h2></div>
  </div>
  <div class="row post-row">
    <div class="offset-1 col-3 post-left">
      <%= render "users/info", user: current_user %>
      <%= link_to 'Edit',edit_user_path(current_user),class: "btn btn-secondary btn-block",style: "margin-top:0;" %>
    </div>
    <div class="offset-4 col-5 all-messages">
      <% if @anotherEntries.present? %>
        <% @anotherEntries.each do |e| %>
          <%= link_to room_path(e.room.id,anchor: "target"),style:"color:white;" do %>
            <div class="dm-all">
              <h4>
                <%= attachment_image_tag(e.user, :image, size: "50x30", fallback: "no_image.jpeg",class:"profile-image") %>
                <i class="fas fa-portrait"></i> <%= e.user.users_name %></br>
              </h4>
              <%= e.room.messages.order(created_at: :desc).take.try(:content) %></br>
              <%= e.room.messages.order(created_at: :desc).take.try(:created_at) %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h class="no-messages">Start a message with your favorite poster！</h3>
      <% end %>
    </div>
    <div class="col-3">
      <div class="post-right">
        <% @users.reverse_each do |users| %>
      　  <% if user_signed_in? %>
      　     <% unless current_user.following?(users) %>
            <h6>
              <%= link_to user_path(users) ,style: "color:white;" do %>
                <%= attachment_image_tag(users, :image, size: "50x30", fallback: "no_image.jpeg",class:"profile-image") %>
                <i class="fas fa-portrait"></i> <%= users.users_name %>
              <% end %>
            </h6>
            <div>
              <span class="post-count">Post <i class="fas fa-rocket"></i> <%= users.posts.count %></span>
              <%= link_to 'Follow', follow_path(users), method: :POST, class: "btn btn-dark btn-sm" %>
            </div>
            <% end %>
          <% else %>
            <h6>
              <%= link_to user_path(users) ,style: "color:white;" do %>
                <%= attachment_image_tag(users, :image, size: "50x30", fallback: "no_image.jpeg",class:"profile-image") %>
                <i class="fas fa-portrait"></i> <%= users.users_name %>
              <% end %>
              <span class="post-count">Post <i class="fas fa-rocket"></i> <%= users.posts.count %></span>
            </h6>
          <% end %>
        <% end %>
        <div class="fixed-bottom top-paginate"><%= paginate @users %></div>
      </div>
    </div>
  </div>
</div>