<div class="container" style="max-width:100%;">
  <div class="row post-list">
    <div class="offset-1 col-3 ">
      <%= link_to rooms_path, style:"color:black;" do %>
        <h2 class="post-list-title">DM</h2>
      <% end %>
      </div>
    <div class="offset-1 col-6">
      <h2 class="post-list-title">
        <% @entry.each do |e| %>
          <strong><a href="/users/<%= e.user.id %>">@<%= e.user.users_name%></a></strong><small>さんとメッセージ中</small>
        <% end %>
      </h2>
    </div>
  </div>
  <div class="row post-row">
    <div class="offset-1 col-3 post-left">
      <% @anotherEntries.each do |e| %>
        <%= link_to room_path(e.room.id,anchor: "target") do %>
          <div class="dm-all">
            <h3>
              @<%= e.user.users_name %></br>
              <%= Message.find_by(id: e.room.message_ids.last).content %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="offset-1 col-6">
      <div class="row all-messages">
        <div class="col-12">
      　　<div>
          <% if @messages.present? %>
            <% @messages.each do |m| %>
              <% if m.user_id == current_user.id %>
                <div class="current_user">
                  <strong class="current_user"><%= m.content %></strong>
                    <small class="current_user">@<%= m.user.users_name %></small>
                </div>
              <% else %>
                <div class="visited_user">
                  <strong class="visited_user"><%= m.content %></strong>
                  <small class="visited_user">@<%= m.user.users_name %></small>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h4 class="text-left">No Massege</h4>
          <% end %>
          </div>
          <div class id="target"></div>
          <div class="fixed-bottom message-form">
            <div class="message-form-block">
              <%= form_for @message do |f| %>
                <%= f.text_field :content, :placeholder => "Please enter a message" , class:"message-form-text", :size => 30 %>
                <%= f.hidden_field :room_id, :value => @room.id %>
                <%= f.submit "Send", class: "message-submit" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
