<% @posts.reverse_each do |post| %>
<div>
  <div class="card mb-4">
    <div class="card-img-top">
      <%= attachment_image_tag post, :image, style: "width:100%;" %>
    </div>
    <div class="card-body">
      <% post.tags.each do |tag| %>
        <span class="label"><%= tag.name %></span>
      <% end %>
      <div style="margin:20px auto 20px">
        <%= link_to user_path(post.user), style: "color:black;" do %>
          <%= attachment_image_tag(post.user, :image, size: "50x30", fallback: "no_image.jpeg",class:"profile-image") %>
          <i class="fas fa-portrait"></i><%= post.user.users_name %>
      <% end %>
      </div>
      <p class="card-text"><%= post.body %></p>
      <%= link_to "Read More→",  post_path(post), class: "btn btn-dark" %>
    </div>
    <div class="card-footer text-muted">
      Posted on <%= post.created_at %>
      <span style="margin-left:5%;">
        <%= link_to post_path(post),class: "btn" do %>
          <i class="far fa-comment-dots"></i><%= post.post_comments.count %>
        <% end %>
      </span>
      <span id="favorite-<%= post.id %>" style="margin-left:3%;">
        <%= render 'posts/favorite', post: post %>
      </span>
    </div>
  </div>
</div>
<% end %>