<div style="text-align: left;">
  <% posts.reverse_each do |posts| %>
    <table class="allpost">
      <tr>
        <td>
          <%= link_to user_path(posts) do %>
            <%= posts.user.users_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to post_path(posts) do %>
            <%= posts.title %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to post_path(posts) do %>
            <%= posts.body %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to post_path(posts) do %>
            <%= attachment_image_tag posts, :image, size: "200x150"  %>
          <% end %>
        </td>
      </tr>
      <% if posts.user == current_user %>
        <tr>
          <td>
            <%= link_to "Edit", edit_post_path(posts) %>
          </td>
          <td>
            <%= link_to "Delete", post_path(posts), method: :delete, remote: true %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>