<div class="container" style="max-width:100%;">
  <div class="row post-list">
    <div class="offset-1 col-3 "><h2 class="post-list-title">New Post</h2></div>
    <div class="offset-1 col-4 "><h2 class="post-list-title">Home</h2></div>
    <div class="col-2 "><h3 class="post-list-title">All Posters</h3></div>
  </div>
  <div class="row post-row">
    <div class="offset-1 col-3 post-left">
      <% if user_signed_in? %>
        <div class="js-message-errors"></div>
        <%= render "posts/new", posts: @post %>
      <% else %>
        <div class="container">
          <div class="row">
            <div class='mx-auto col-12'>
              <h3 style="margin-top:50px;"><strong>Welcome!!</strong></h3>
              <p>
                <strong>The Universeとは</strong></br>
                宇宙好きのための</br>
                集いの場です！</br>
                宇宙・天体について<br/>
                自由に投稿・共有を<br/>
                行えます！<br/>
              </p>
              <div class="btn-wrapper col-10 mx-auto">
                <div class="row">
                  <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
                </div>
                <div class="row">
                  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="offset-1 col-4">
      <div id="post">
        <%= render "posts/all", posts: @posts %>
      </div>
    </div>
    <div class="col-2">
      <div class="post-right">
      <% @users.reverse_each do |users| %>
        <table>
          <tr>
            <td>
              <%= link_to user_path(users) ,style: "color:black;" do %>
                @<%= users.users_name %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
      </div>
    </div>
  </div>
</div>
