<div class="container" style="max-width:100%;">
  <div class="row post-list">
    <div class="offset-1 col-3 "><h2 class="post-list-title">New Post</h2></div>
    <div class="offset-1 col-4 "><h2 class="post-list-title">Home</h2></div>
    <div class="col-2 "><h2 class="post-list-title">Posters</h2></div>
  </div>
  <div class="row post-row">
    <div class="offset-sm-1 col-sm-3 post-left">
      <% if user_signed_in? %>
        <div id="comments_error">
         <%= render 'layouts/errors', model: @post  %>
         </div>
        <%= render "posts/new", posts: @post %>
      <% else %>
        <div class="container">
          <div class="row">
            <div class='offset-1 col-11'>
              <h3 class="top-list"><strong>Welcome!!</strong></h3>
              <h2 class="top-list"><strong><i class="fas fa-star-and-crescent"></i>The Universe</strong></h2>
              <p class="top-list">People who get together and like the universe</p>
              <p class="top-list">You can freely talk about the universe here.</p>
              <p class="top-list">Let's make the universe friends<i class="fas fa-users"></i></p>
              <div class="btn-wrapper col-10">
                <div class="row">
                  <%= link_to 'Log in', new_user_session_path, class: "btn btn-light btn-sm btn-block mb-3 sign_in" %>
                </div>
                <div class="row">
                  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-dark btn-sm btn-block sign_up" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-5">
      <div id="post">
        <%= render "posts/all", posts: @posts %>
      </div>
    </div>
    <div class=" col-3">
      <div class="post-right">
      <% @users.reverse_each do |users| %>
      　<div class="all-poster">
          <h6>
          <%= link_to user_path(users) ,style: "color:black;" do %>
            <%= attachment_image_tag(users, :image, size: "50x30", fallback: "no_image.png",class:"profile-image") %>
            <i class="fas fa-portrait"></i><%= users.users_name %>
          <% end %>
          </h6>
        </div>
      <% end %>
      <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
