<div class="container" style="max-width:100%;">
  <div class="row post-list">
    <div class="offset-1 col-3 "><h2 class="post-list-left">Poster</h2></div>
    <div class="col-4"><h2 class="post-list-title">Posts Detail</h2></div>
  </div>
  <div class="row post-row">
    <div class="offset-1 col-3 post-left">
      <%= render "users/info", user: @user %>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <%= link_to "DM", rooms_path, class: "btn btn-dark btn-block" %>
      　<%= link_to 'Edit',edit_user_path(current_user),class: "btn btn-secondary btn-block",style: "margin-top:0;" %>
      <% else %>
        <% if @isRoom == true %>
        <p><%= link_to "DM", room_path(@roomId, anchor: "target"), class: "btn btn-dark btn-block" %></p>
        <% else %>
          <%= form_with model: @room, url: rooms_path, local: true do |f| %>
            <%= f.fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "DM",class: "btn btn-dark btn-block" %>
          <% end %>
        <% end %>
      <% end %>
      <% unless current_user == @user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'Unfollow', unfollow_path(@user.id), method: :POST, class: "btn btn-secondary btn-block",style:"margin-top:30px" %>
        <% else %>
          <%= link_to 'Follow', follow_path(@user.id), method: :POST, class: "btn btn-dark btn-block",style:"margin-top:30px" %>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <div class="col-7 post-center">
      <div style="margin-top:10px;">
        <div class="card mb-4">
          <div class="card-img-top">
            <%= attachment_image_tag @post, :image, style: "width:100%;" %>
          </div>
          <div class="card-body">
            <% @post.tags.each do |tag| %>
              <span class="label"><%= tag.name %></span>
            <% end %>
            <div style="margin:20px auto 20px">
              <%= link_to user_path(@post.user), style: "color:black;" do %>
                <%= attachment_image_tag(@post.user, :image, size: "50x30", fallback: "no_image.jpeg",class:"profile-image") %>
                <i class="fas fa-portrait"></i><%= @post.user.users_name %>
              <% end %>
            </div>
            <p class="card-text"><%= @post.body %></p>
          </div>
          <div class="card-footer text-muted">
            Posted on <%= @post.created_at %>
            <span style="margin-left:5%;">
              <i class="far fa-comment-dots"></i><%= @post.post_comments.count %>
            </span>
            <span id="favorite-<%= @post.id %>" style="margin-left:3%;">
              <%= render 'posts/favorite', post: @post %>
            </span>
            <% if @post.user == current_user %>
              <%= link_to "Edit", edit_post_path(@post), class:"btn btn-dark btn-sm", style:"margin-left: 5%" %>
            <% end %>
          </div>
        </div>
      </div>
      <% if @post.post_comments.present? %>
        <h3 style="margin-top:30px">Comment</h3>
        <% @post.post_comments.each do |post_comment| %>
        <div style="margin-top:20px;">
          <div class="card mb-4">
            <div class="card-body">
              <%= link_to user_path(post_comment.user), style: "color:black;" do %>
                <%= attachment_image_tag(post_comment.user, :image, size: "50x30", fallback: "no_image.jpeg",class:"profile-image") %>
                <i class="fas fa-portrait"></i><%= post_comment.user.users_name %>
              <% end %>
              <div style="margin:20px auto 20px">
                <%= post_comment.comment %>
              </div>
            </div>
            <div class="card-footer text-muted">
              Commented on <%= post_comment.created_at %>
              <span style="margin-left:5%;">
              <% if post_comment.user == current_user %>
                <%= link_to "DELETE", post_post_comment_path(@post,post_comment.id), method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
              </span>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
      <div class="new-comment">
        <h3>New Comment</h3>
        <%= form_with(model:[@post, @post_comment],local: true) do |f| %>
        <% if @error_comment.present? %>
          <div id="error_explanation">
            <ul>
              <% @error_comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <%= f.text_field :comment, class: "form-control" %><br/>
          <%= f.submit "Comment", class: "btn btn-dark" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>